<div class="form-container">
  <%= bootstrap_form_for(@event, layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7") do |f| %>
    <%= f.text_field :title, label: "Title of Event" %>
    <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"), label: "Date of Event" %>
    <%= f.time_field :time, value: "21:00", label: "Event Start Time" %>
    <%= f.text_field :location, label: "Where is the Event" %>
    <%= f.form_group :age, value: true, label: { text: "All Ages?", class: "required" } do %>
      <%= f.radio_button :age, true, label: "Event is All Ages", checked: true %>
      <%= f.radio_button :age, false, label: "Event is 21+" %>
    <% end %>
    <%= f.text_field :cost, label: "Cost of Event", prepend: "$" %>
    <%= f.email_field :email, label: "Contact Email Address" %>
    <%= f.text_field :name, label: "Contact Name" %>
    <%= f.text_field :link, label: "Links to Artists or Event" %>
    <%= f.text_field :genre, label: "Genre of Event" %>
    <%= f.submit "Add My Event to the Newsletter", class: "btn btn-default btn-block" %>
  <% end %>
</div>

