<tr>
  <td class="title"><strong><%= event.title %><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></strong>
    <table class="details">
      <tr>
        <td>Date:</td>
        <td><%= event.date.strftime("%A, %B %e") %></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><%= event.time.strftime("%l:%M %p") %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <td>All Ages?</td>
        <td><%= event.age ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
        <td>Cost:</td>
        <td>$<%= event.cost %></td>
      </tr>
      <tr>
        <td>Contact Email:</td>
        <td><%= event.email %></td>
      </tr>
      <tr>
        <td>Contact Name:</td>
        <td><%= mail_to event.email %></td>
      </tr>
      <% if event.link.present? %>
      <tr>
        <td>Links:</td>
        <td><%= link_to event.link, event.link.include?("http://") ? "#{event.link}" : "http://#{event.link}" %></td>
      </tr>
      <% end %>
      <% if event.description.present? %>
      <tr>
        <td>Description:</td>
        <td><%= event.description %></td>
      </tr>
      <% end %>
      <tr>
        <td>
          <%= link_to "/events/#{event.id}/edit", class: "edit" do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
          <%= link_to "/events/#{event.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "delete", remote: true do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
  <td><%= event.created_at.strftime("%B %e, %Y") %></td>
</tr>
